body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}
header {
    background-color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-size: 1.5rem;
    margin: 0;
}
header nav a {
    margin-left: 1rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
header nav a {
    text-decoration: underline;
}
main {
    padding: 2rem;
    text-align: center;
}
.bluetooth-connection {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}
.bluetooth-connection h2 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}
.bluetooth-connection p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
.esp-list {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
}
.esp-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.esp-list li {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #ddd;
}

.esp-list li{
    border-bottom: none;
}
.loading-icon {
    font-size: 1.25rem;
    margin-top: 1rem;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.go-back {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.go-back:hover {
    background-color: #0056b3;
}
footer {
    background-color: #f1f1f1;
    padding: 1rem 2rem;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-container a {
    text-decoration: none;
    color: #007BFF;
    margin-right: 1rem;
}
.footer-container a:hover {
    text-decoration: underline;
}
.footer-logo {
    font-size: 1.25rem;
}
.copyright {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    color: #666;
}
.esp-select-btn {
    outline: none;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 15px 50px;
    width: 500px;
}