.bluetooth-connection{
    opacity: 0.1;
}

.pop-up {
    position: absolute;
    opacity: 1;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.pop-up p {
    font-size: 18px;
    margin-bottom: 10px;
}
.pop-up ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    width: 100%;
}
.pop-up .wifi-option {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.pop-up .wifi-option:hover {
    background-color: darkturquoise;
}
.pop-up .pop-up-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.pop-up .cancel-btn, .pop-up .connect-btn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
    margin-left: 103%;
}
.pop-up .connect-btn {
    background-color: green;
}
.pop-up .cancel-btn:hover, .pop-up .connect-btn:hover {
    opacity: 0.8;
}