body {
    background-color: grey;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    text-align: center;
}

h1 {
    font-size: 3em;
}

.left-aligned {
    float: left;

}