body {
    background-color: grey;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    text-align: center;
}

h1 {
    font-size: 2em;
}

.left-aligned {
    float: left;

}

.red{
    color: red;
}
.butonn{
    background-color: green;
    border:1px solid orange;
    padding: 10px
}
.butonn-destroy{
    background-color: red;
    border:10px solid black;
    padding: 10px
}