@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    margin: 0;
    width: 100%;
    background-color: #e1e1e1;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 90vh;
}

header, .table-container, footer {
    background-color: #ffffff;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}

.active {
    color: #00c774;
}

.inactive {
    color: #cd0012;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 3.7rem;
}

header .logo a {
    font-size: 1.4rem;
    font-weight: 700;
}

.nav-links {
    display: flex;
}

.nav-links a {
    margin: 0 0.6rem;
}

/*table*/
main {
    padding: 6vh 10vw;
    min-height: 90vh;
}

.table-container {
    box-shadow: 0 4px 8px 0 #83838333, 0 6px 20px 0 #83838333;
    border-radius: 16px;
    padding: 1.5rem;
}

.table-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.table-title h2 {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
}

.table-title a {
    color: #00c6ff;
    text-align: center;
}

.table-title .title-buttons {
    margin: 0;
    display: flex;
    align-items: center;
}

.table-title .title-buttons li {
    margin-left: 0.5rem;
}

.table-title .title-buttons button {
    cursor: pointer;
    background-color: #00000000;
    color: #00c6ff;
    border: 1.5px solid #00c6ff;
    padding: 5px 10px;
    border-radius: 16px;
    transition: all 0.1s ease-in-out;
}

.title-buttons button:hover {
    background-color: #00c6ff;
    color: white;
}

.title-buttons button:active {
    background-color: #00a8d6;
    color: white;
}

.title-buttons button p {
    margin: 0;
}

table {
    width: 100%;
}

table thead tr th:last-of-type {
    width: 13%;
}

table thead tr th:nth-last-of-type(2) {
    width: 20%;
}

table tr td:first-of-type {
    width:30%;
}

table th {
    color: #616161;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: left;
    padding: 0.3rem;
    user-select: none;
}

table td {
    cursor: pointer;
    border-radius: 10px;
    padding: 0.3rem;
}

.esp-profile {
    display: flex;
    align-items: center;
}

.esp-profile p {
    margin: 0;
}

.esp-profile img{
    width: 1.7rem;
    margin-right: 0.3rem;
}

/*footer*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
}

.footer .contact .logo {
    display: flex;
}

.footer .contact .logo img {
    width: 2.8rem;
    height: 2.8rem;
    margin: 0.3rem;
    padding: 0.3rem;
}

.footer .contact .logo h3 {
    font-weight: 500;
    font-size: 1.3rem;
}

.footer .contact ul {
    padding: 0;
}

.footer .links {
    display: flex;
}

.footer .links ul {
    padding-left: 3rem;
    line-height: 1.5rem;
}

.footer .list-head {
    margin: 0 0 0.6rem 0;
    font-weight: 600;
}

.copyright {
    text-align: center;
}

.copyright hr {
    width: 90vw;
    color: lightgray;
}

.copyright p {
    font-size: 0.8rem;
    color: gray;
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.popup input[type="text"],
.popup input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup button.turn-on {
    background-color: #4CAF50;
    color: white;
}

.popup button.turn-off {
    background-color: #f44336;
    color: white;
}

.popup button.submit-btn {
    background-color: #008CBA;
    color: white;
}