body {
    font-family: "Poppins", sans-serif;
}

.esp-list {
    opacity: 0.1;
}
.pop-up{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    min-height: 20%;
}

.wifi-password-heading {
    font-weight: bolder;
    font-size: 1.8rem;
    margin-bottom: 1%;
}

.wifi-password-secondary {
    font-weight: bolder;
    font-size: 1rem;
}

.password-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 8px;
    background-color: #f5f5f5;
    border-radius: 20px;
    align-items:baseline;
}

.password-container label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    margin-left: 8px;
}

.password-container input {
    border: none;
    background: none;
    font-size: 16px;
    padding: 5px;
    outline: none;
    font-weight: bold;
}

.password-container input[type="password"] {
    letter-spacing: 2px;
}
.pop-up-btns {
    display: flex;
    justify-content: end;
    gap: 10px;
    width: 100%;
    margin-top: 2vh;
}